<div *ngIf="inProgress$ | async" class="spinner-border spinner-border-sm" role="status"></div>

<div *ngIf="endByWordCount" class="text-center">
    <h2 aria-hidden="true">
        <i class="bi bi-emoji-sunglasses me-2"></i>
        <i class="bi bi-emoji-sunglasses me-2"></i>
        <i class="bi bi-emoji-sunglasses"></i>
    </h2>
    <h2>
        {{GameService.GAME_WORDS_LIMIT}} odkritih besed!
    </h2>
</div>
<div *ngIf="!enteredToLeaderBoard" class="text-center">
    <h2><i class="bi bi-emoji-dizzy"></i> Konec igre ({{gameService.score}})</h2>
    <p>Premalo pik za uvrstitev na lestvico. Poskusi ponovno!</p>
</div>
<div *ngIf="enteredToLeaderBoard" class="text-center">

    <h2><i class="bi bi-record-circle me-1"></i> {{gameService.score}} je dovolj za uvrstitev na {{gameService.gameData!.game.leaderboardRank}}.
        mesto!</h2>


    <button *ngIf="!authService.user"
            [routerLink]="['/auth', 'game-over']"
            class="btn btn-primary text-white btn-lg mt-3"
            type="button">
       Vpiši se med zmagovalce
    </button>

    <app-victory-confetti></app-victory-confetti>
</div>
<div class="row mt-4">
    <div class="col d-flex justify-content-between">

        <button
            [routerLink]="''"
            aria-label="Nastavitve"
            class="btn btn-outline-secondary"
            type="button"
        >
            <i class="bi bi-arrow-left"></i>
            Nazaj v Meni
        </button>

        <button (click)="actionOpenAchievementsModal()"
                [attr.aria-label]="'Dosežki'"
                class="btn btn-outline-secondary position-relative goals"
                type="button">
            <div aria-hidden="true" class="d-flex">
                <i class="bi bi-trophy"></i> <span
                    class="ms-2 d-none d-lg-block">Dosežki</span>
            </div>
        </button>
    </div>
</div>
<div class="mt-4">
    <app-leader-board></app-leader-board>
</div>