<div class="d-flex justify-content-between">
    <div>
        <h1>Avtentikacija</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <p class="alert alert-info">
            Izberi način avtentikacije
        </p>
    </div>
</div>
<div class="row">
    <div class="col d-flex justify-content-between">
        <button [routerLink]="''"
                aria-label="Nastavitve"
                class="btn btn-outline-secondary"
                type="button"><i class="bi bi-arrow-left"></i> Nazaj v Meni
        </button>
    </div>
</div>

<div id="firebaseui-auth-container"></div>