::ng-deep {
    #firebaseui-auth-container {
        margin-top: 2rem;

        ul {
            padding: 0;
            list-style: none;

            li {
                width: 100%;
                margin-bottom: 10px;

                button{
                    padding: 15px 10px !important;
                    width: 100%;
                    text-align: left !important;
                    min-width: 400px;
                }
            }
        }

        img{
            max-height: 20px;
        }

        .firebaseui-idp-text-short{
            margin-left: 10px;
        }

        .firebaseui-idp-text-long {
            display: none;
        }

        .firebaseui-label{
            margin-right: 5px;
        }
    }
}