tr {
  height: 50px;
  cursor: pointer;

  td {
    vertical-align: middle;
  }

  td:first-child{
    text-align: start;
  }

  td:last-child {
    text-align: end;
  }

  &.victory {
    scroll-margin-top: 100px;
    scroll-margin-bottom: 100px;
  }
}

th:first-child{
  text-align: start;
}
th:last-child {
  text-align: end;
}

tr.bg-primary{
  td, a {
    color: white;
  }
}